.searchbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid lightgray;
  padding: .5em .5em;
}

.searchbar > input {
  flex: 1;
  font-size: 2vw;
  border: none;
  outline: none;
}

.searchbar > svg {
  display: inline-block;
  width: 24px;
  height: 24px;
}

@media screen and (max-width: 550px) {
  .searchbar > input {
    font-size: 3.5vw;
  }

  .searchbar {
    padding: .25em .25em;
  }
}